.nav {
  display: flex;
}

.nav_op {
  position: relative;
  display: flex;
  left: 1150px;
}

.nav_op > button {
  justify-content: space-between;
  border: 0px;
  background-color: #fff;
  text-decoration: none;
  color: black;
  border-bottom: solid #fff;
  padding: 10px;
  margin-left: 30px;
}

.nav_but {
  text-decoration: none;
}

.nav_op > button:hover {
  cursor: pointer;
  border-bottom: solid #8d0801;
}

.logo {
  position: relative;
  top: 10px;
  left: -150px;
  width: 40px;
  height: 40px;
}
